<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_facelook_domain_Comment" modelAttribute="comment" path="/comments" render="${empty dependencies}" z="Z+EcRZ9af7CWdnBASoyWXOmVt08=">
        <field:input field="description" id="c_com_facelook_domain_Comment_description" required="true" z="9YVjPd+0GBq3YXQjWgIGLioE9N0="/>
        <field:select field="RegisteredUser" id="c_com_facelook_domain_Comment_RegisteredUser" itemValue="id" items="${userregistrations}" path="/userregistrations" z="R0pjchV43fACouw9ZSfc1XU4SXU="/>
        <field:select field="madeBy" id="c_com_facelook_domain_Comment_madeBy" itemValue="id" items="${userregistrations}" path="/userregistrations" z="qe8SnyQUQEYLAFKK2J4NrdTZw1U="/>
        <field:select field="commentForEvent" id="c_com_facelook_domain_Comment_commentForEvent" itemValue="id" items="${events}" path="/events" z="2JiX5tboicTFAA7EME1i8Ictcwo="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_facelook_domain_Comment" render="${not empty dependencies}" z="Sj2og1ff6rm3sgZsRUzXibft6r8="/>
</div>
