<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:find finderName="ByCommentForEvent" id="ff_com_facelook_domain_Comment" path="/comments" z="2r70uYX4SxiJU3u4Zhas7biMO9A=">
        <field:select disableFormBinding="true" field="commentForEvent" id="f_com_facelook_domain_Comment_commentForEvent" itemValue="id" items="${events}" path="/events" required="true" z="1vUfEzyOndBF3y5d8yX4Oe+WILs="/>
    </form:find>
</div>
