<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_facelook_domain_Invite" modelAttribute="invite" path="/invites" render="${empty dependencies}" z="1dDc2XKjiOihn5sK0/8Jd1kEF6w=">
        <field:select field="event" id="c_com_facelook_domain_Invite_event" itemValue="id" items="${events}" path="/events" z="r2vbM3Tizpb+x14wUPCuRaVfuHU="/>
        <field:select field="invitee" id="c_com_facelook_domain_Invite_invitee" itemValue="id" items="${userregistrations}" path="/userregistrations" z="ofwtr5muzfy6Kv01Mz7WtMIx85U="/>
        <!--
        <field:checkbox field="attending" id="c_com_facelook_domain_Invite_attending" z="gFkvOAm4XBZzX3zkJ+6mMjBhmIY="/>
        -->
        <field:checkbox field="attending" id="c_com_facelook_domain_Invite_attending" z="gFkvOAm4XBZzX3zkJ+6mMjBhmIY="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_facelook_domain_Invite" render="${not empty dependencies}" z="9JazHv6XWqqD5u4UbKejrDsWGno="/>
</div>
