<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:find finderName="ByInvitee" id="ff_com_facelook_domain_Invite" path="/invites" z="mCuqPhjE12ZA60ICFiAAfp9Ujhg=">
        <field:select disableFormBinding="true" field="invitee" id="f_com_facelook_domain_Invite_invitee" itemValue="id" items="${userregistrations}" path="/userregistrations" required="true" z="lM+P/Uptpy9J7jj0zk77OHCLAto="/>
    </form:find>
</div>
