<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_facelook_domain_Invite" object="${invite}" path="/invites" z="f0xHPWXy5Z48jAohaSrQYBzZvsE=">
        <field:display field="event" id="s_com_facelook_domain_Invite_event" object="${invite}" z="zi+K2CeexvzAhNN1vmE12BAcNrA="/>
        <field:display field="invitee" id="s_com_facelook_domain_Invite_invitee" object="${invite}" z="laY4N/IB4eGdFjdz/Ypejhgy6iw="/>
        <field:display field="attending" id="s_com_facelook_domain_Invite_attending" object="${invite}" z="D4HOTqrxcS/dKfLr/LT41WfmEY8="/>
    </page:show>
</div>
