<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show delete="false" id="ps_com_facelook_domain_Event" object="${event}" path="/events" z="D+wod5Cb9eswdsLaOW9dL+/fO+A=">
        <field:display field="name" id="s_com_facelook_domain_Event_name" object="${event}" z="OGoiPvI14fRaqjFEOq2vjln+IfE="/>
        <field:display field="location" id="s_com_facelook_domain_Event_location" object="${event}" z="V6dkdybiRABEPmj/JxvCQUeAxH4="/>
        <field:display field="description" id="s_com_facelook_domain_Event_description" object="${event}" z="Kww5xa1RK2rROzt2wCV+/eiWfQM="/>
        <field:display field="latitude" id="s_com_facelook_domain_Event_latitude" object="${event}" z="JS1EeAkmXs4woa0Ai10D6tANANQ="/>
        <field:display field="longitude" id="s_com_facelook_domain_Event_longitude" object="${event}" z="2lynB2W3/FiJBuiNqn5Nb0pl+mM="/>
        <field:display calendar="true" dateTimePattern="${event_datetime_date_format}" field="datetime" id="s_com_facelook_domain_Event_datetime" object="${event}" z="Atf7oQ6VGElZTY6Wgr4TdxyoEs0="/>
        <field:display field="starttime" id="s_com_facelook_domain_Event_starttime" object="${event}" z="K0VvJtbEDywIQHmVpiSt4evwy9g="/>
        <field:display field="endtime" id="s_com_facelook_domain_Event_endtime" object="${event}" z="kiW04fwppD4ZTyx2pOa8EYV6Y70="/>
        <c:if test="${not empty src}">
     <iframe  src="${src}" style=" border-width:0 " width="500" height="300" frameborder="0" scrolling="no"><!-- //workaround for spring bug --></iframe>
    </c:if>
    <div style="font-size: 20px">
        <label for="attending">Attending:</label>
        <div id="attending" style="font-size:20px">
            <c:choose>
                <c:when test="${attending == true}"><span style="color:#71C94E; font-weight:bold">Yes</span></c:when>
                <c:otherwise><a href="/facelook/events/attend/${itemId}">Yes</a></c:otherwise>
            </c:choose>
            /
            <c:choose>
                <c:when test="${attending == false}"><span style="color:#B22D3A; font-weight:bold">No</span></c:when>
                <c:otherwise><a href="/facelook/events/unattend/${itemId}">No</a></c:otherwise>
            </c:choose>
        <!-- <c:choose>
            <c:when test="${check}"><a href="/facelook/index/invites/${item.id}?attending=yes">Yes</a> / <a href="/facelook/index/invites/${item.id}?attending=no">No</a>
               <form action = "/facelook/events/unattend/${itemId}" method="post"><input type = "submit" value = "Not attending"/></form>
            </c:when>
            <c:otherwise>
               <form action = "/facelook/events/attend/${itemId}" method="post"><input type = "submit" value = "Attending"/></form>
            </c:otherwise>
        </c:choose> -->
        </div>
    </div>
    </page:show>
</div>
