<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_facelook_domain_Interest" items="${interests}" z="ogKPLVAN+jRT5I2gOKmmGIrIasI=">
        <table:table data="${interests}" id="l_com_facelook_domain_Interest" path="/interests" z="avtgYRTvxSmpS2YKrfkp88C9waM=">
            <table:column id="c_com_facelook_domain_Interest_name" property="name" z="XYMPx78g0p897Nxf/qaDF+lUZds="/>
            <table:column id="c_com_facelook_domain_Interest_description" property="description" z="iSdVfPhnBcDoTpRt8Ant6U5lBtg="/>
            <table:column id="c_com_facelook_domain_Interest_users" property="users" z="YP2yHMd75Ut6BSZO7wRMyqvY+jI="/>
            <table:column id="c_com_facelook_domain_Interest_events" property="events" z="84zwMfrfCmJbNK/S5DX6lQmqZS0="/>
        </table:table>
    </page:list>
</div>
