<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:tiles="http://tiles.apache.org/tags-tiles" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" >  
	<jsp:output doctype-root-element="HTML" doctype-system="about:legacy-compat" />
	<jsp:directive.page contentType="text/html;charset=UTF-8" />  
	<jsp:directive.page pageEncoding="UTF-8" /> 
	<head>
		<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"><jsp:text/></script>
        <script type="text/javascript">
        <![CDATA[ 
		function initialize() {
			var image = 'images/gmap/home.png';
			var mapProp = {center: new google.maps.LatLng(-33.788038, 151.053637),zoom: 10,mapTypeId: google.maps.MapTypeId.ROADMAP};
			var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
			var latitude = ${userregistrations[0].latitude};
			var longitude = ${userregistrations[0].longitude};
			var name = "${userregistrations[0].email}: ${userregistrations[0].firstname} ${userregistrations[0].lastname}";
			var marker = new google.maps.Marker({position: new google.maps.LatLng(latitude, longitude),zoom: 10,map: map, icon: image, title: name});
			var latitude = ${userregistrations[1].latitude};
			var longitude = ${userregistrations[1].longitude};
			var name = "${userregistrations[1].email}: ${userregistrations[1].firstname} ${userregistrations[1].lastname}";
			var marker = new google.maps.Marker({position: new google.maps.LatLng(latitude, longitude),zoom: 10,map: map, icon: image, title: name});
			var latitude = ${userregistrations[2].latitude};
			var longitude = ${userregistrations[2].longitude};
			var name = "${userregistrations[2].email}: ${userregistrations[2].firstname} ${userregistrations[2].lastname}";
			var marker = new google.maps.Marker({position: new google.maps.LatLng(latitude, longitude),zoom: 10,map: map, icon: image, title: name});
			var latitude = ${userregistrations[3].latitude};
			var longitude = ${userregistrations[3].longitude};
			var name = "${userregistrations[3].email}: ${userregistrations[3].firstname} ${userregistrations[3].lastname}";
			var marker = new google.maps.Marker({position: new google.maps.LatLng(latitude, longitude),zoom: 10,map: map, icon: image, title: name});
			var latitude = ${userregistrations[4].latitude};
			var longitude = ${userregistrations[4].longitude};
			var name = "${userregistrations[4].email}: ${userregistrations[4].firstname} ${userregistrations[4].lastname}";
			var marker = new google.maps.Marker({position: new google.maps.LatLng(latitude, longitude),zoom: 10,map: map, icon: image, title: name});
			var latitude = ${userregistrations[5].latitude};
			var longitude = ${userregistrations[5].longitude};
			var name = "${userregistrations[5].email}: ${userregistrations[5].firstname} ${userregistrations[5].lastname}";
			var marker = new google.maps.Marker({position: new google.maps.LatLng(latitude, longitude),zoom: 10,map: map, icon: image, title: name});
			var latitude = ${userregistrations[6].latitude};
			var longitude = ${userregistrations[6].longitude};
			var name = "${userregistrations[6].email}: ${userregistrations[6].firstname} ${userregistrations[6].lastname}";
			var marker = new google.maps.Marker({position: new google.maps.LatLng(latitude, longitude),zoom: 10,map: map, icon: image, title: name});
			var latitude = ${userregistrations[7].latitude};
			var longitude = ${userregistrations[7].longitude};
			var name = "${userregistrations[7].email}: ${userregistrations[7].firstname} ${userregistrations[7].lastname}";
			var marker = new google.maps.Marker({position: new google.maps.LatLng(latitude, longitude),zoom: 10,map: map, icon: image, title: name});
			var latitude = ${userregistrations[8].latitude};
			var longitude = ${userregistrations[8].longitude};
			var name = "${userregistrations[8].email}: ${userregistrations[8].firstname} ${userregistrations[8].lastname}";
			var marker = new google.maps.Marker({position: new google.maps.LatLng(latitude, longitude),zoom: 10,map: map, icon: image, title: name});
			var latitude = ${userregistrations[9].latitude};
			var longitude = ${userregistrations[9].longitude};
			var name = "${userregistrations[9].email}: ${userregistrations[9].firstname} ${userregistrations[9].lastname}";
			var marker = new google.maps.Marker({position: new google.maps.LatLng(latitude, longitude),zoom: 10,map: map, icon: image, title: name});
			google.maps.event.addListener(map,"click",function(e){
				alert("Latitude: "+e.latLng.lat()+", Longitude: "+e.latLng.lng());
			});
		}
        google.maps.event.addDomListener(window, 'load', initialize);
        ]]>
        </script>
        <util:load-scripts />
    </head>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
<page:list id="pl_com_facelook_domain_UserRegistration" items="${userregistrations}" z="VY4cmYZ3DJpUJ07xdFoHtVMmdNE=">
	<table:table data="${userregistrations}" id="l_com_facelook_domain_UserRegistration" path="/userregistrations" z="OuGjVcNDtVqmuscTLYcxYGWfRRQ=">
	<table:column id="c_com_facelook_domain_UserRegistration_firstname" property="firstname" z="WxsG6TIrJ7G4YbEpJaqwyotTSQE="></table:column>
	<table:column id="c_com_facelook_domain_UserRegistration_lastname" property="lastname" z="WcKdOrmX42v5YQZdasLZYq6jCOY="></table:column>
	<table:column id="c_com_facelook_domain_UserRegistration_email" property="email" z="fL+3Zwqam/d5Uxe2yfE61ShVrAQ="></table:column>
	<table:column id="c_com_facelook_domain_UserRegistration_postcode" property="postcode" z="1Jv5p7LWHiJKcPwongUlgqd4UYU="></table:column>
	<table:column id="c_com_facelook_domain_UserRegistration_latitude" property="latitude" z="+NJ8oDZzurj5XLsmDic41uzvPkE="></table:column>
	<table:column id="c_com_facelook_domain_UserRegistration_longitude" property="longitude" z="pvFxMwZI+AUi5QFjRGPDU90/gYE="></table:column>
</table:table>
</page:list>
</div>
<div id="googleMap" style="width:700px;height:380px;"></div>
</html>
